* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #f5f6f7; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* margin: 0 auto; */
  /* max-width: 1280px; */
  /* padding: 1rem; */
  /* padding: 2rem; */
  /* text-align: center; */
  color: black;
  /* font-family: 'Satoshi', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  height: 100vh;
  width: 100%;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background: #171717;
}

body::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* scrollbar - modal */
.modal-box::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background: #222831;
}

.modal-box::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 4px;
}

.modal-box::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
}

.modal-box::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
}

.modal-box::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.body:app::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.body:app::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.body:app::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* navbar */
.navlink {
  color: blue
}

.navlink-active {
  color: #28A745 !important;
}

.illustration {
  mix-blend-mode: multiply;
  filter: brightness(1);
  width: 40%;
}

/* stream-chat */
.str-chat {
  font-family: 'Roboto';
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.str-chat__channel-list {
  width: 30%;
  /* min-height: 100vh; */
  margin-bottom: 2rem;
}

@media (max-width: 640px) {
  .str-chat__channel-list {
    min-height: 0vh;
    margin-bottom: 0rem;
  }
}

.str-chat__channel {
  width: 100%;
  min-height: 100vh;
  /* margin-bottom: 2.5rem; */
}

.str-chat__channel-preview {
  background-color: #28A745;
}

.str-chat__thread {
  width: 45%;
}

/* loading-spinner */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: rgb(126, 119, 119);

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* Animación Logo */
.twist-logo {
  animation: giro 3s ease-out 2;
}

@keyframes giro {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);

  }

  100% {
    transform: rotate(-360deg);
  }
}

/* cards */

.container-home {
  /* position: absolute; */
  /* height: 100vh; */
  max-width: 900px;
  top: 60px;
  left: calc(60% - 300px);
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.card-home {
  transition: 0.6s ease-out;
  position: relative;
  left: 0px;
  padding-right: 0.6rem;
}

.card-home:not(:first-child) {
  margin-left: 20px;
}

/*TODO -> mediaquery: pasar a columns el container-home */

@media (max-width: 960px) {
  .container-home {
    flex-direction: column;
  }

  .card-home {
    transition: 0.6s ease-out;
    font-size: large;
  }

  .card-home:not(:first-child) {
    margin-left: 0px;
  }

  .card-home:hover {
    transform: translateX(-20px);
    transition: 0.4s ease-out;
  }
}

/* Animación Icono UploadBook/Search */
/* 
.upload:hover {
  transform: translateY(-6px);
  transition-duration: 0.8s;
  animation: 1.5s mover-caja infinite;
}

.upload:before {
  content: '';
  background: radial-gradient(ellipse,
      rgba(0, 0, 0, 0.35) 0%,
      rgba(0, 0, 0, 0) 80%);
  width: 90%;
  height: 20px;
  top: 100%;
  left: 5%;
  position: absolute;
  opacity: 0;
}

.upload:hover:before {
  opacity: 1;
  transform: translateY(6px);
  transition-duration: 0.3s;
  animation: 1.5s mover-sombra infinite;
}

@keyframes mover-caja {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes mover-sombra {
  50% {
    opacity: 1;
    transform: translateY(10px) scale(0.9)
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
} */